/data
_deploy
target
.settings
.project
.idea
.vscode
.yo-rc.json
*.iml
*.iws
*.ipr
*.ids
overlays
node_modules
dev.json
*.sublime-workspace
*.sublime-project
debug.log
npm-debug.log
yarn-error.log
logs
/logs
cache
/cache
.logs
webpack
.next/
dist/